@model chothuexe1.Models.TAIKHOAN

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="~/fonts/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="form">
        <div class="tab-content">

            <div id="signup">
                <h1>Đăng Ký Tài Khoản</h1>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="top-row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="field-wrap">
                            <label>
                                Tên Đăng Nhập<span class="req">*</span>
                            </label>
                            @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                        </div>

                        <div class="field-wrap">
                            <label>
                                Họ Và Tên<span class="req">*</span>
                            </label>
                            @Html.EditorFor(model => model.HoVaTen, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.HoVaTen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label for="cmnd">
                            Số Căn Cước Công Dân<span class="req">*</span>
                        </label>
                        @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off", pattern = "[0-9]{12}" } })
                        @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
                    </div>

                    <div class="field-wrap">
                        <label>
                            Số Điện Thoại<span class="req">*</span>
                        </label>
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off", pattern = "[0-9]{10}" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email<span class="req">*</span>
                        </label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off", type = "email" } })
                    </div>

                    <div class="field-wrap">
                        <label>
                            Mật Khẩu<span class="req">*</span>
                        </label>
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off", type = "password" } })
                    </div>

                    <div class="field-wrap">
                        <label>
                            Xác Nhận Mật Khẩu<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" />
                    </div>

                    <button type="submit" class="button button-block">Đăng Ký Ngay</button>

                }
            </div>
                    <p>@Html.ActionLink("Bạn đã có tài khoản ?Đăng nhập", "Login", "TAIKHOANs")</p>
        </div><!-- tab-content -->
    </div> <!-- /form -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/fonts/js/scripts.js"></script>
</body>
</html>
